<section class="bg-indigo-950 px-3 pt-1.5 pb-1.5 h-screen flex">
    <aside class="w-52 text-indigo-50">
        <div *ngFor="let route of routes" class="w-full text-left transition-all rounded-lg" #container>
            <button (click)="toggleAccordion(container, accordion)" class="w-full text-left">
                {{ route.label }}
            </button>
            <div class="accordion-collapsed transition-all" #accordion>
                <a [routerLink]="nav.path" class="block ml-5 hover:text-purple-950 hover:cursor-pointer" *ngFor="let nav of route?.items">
                    {{ nav.label }}
                </a>
            </div>
        </div>
    </aside>

    <main
        class="bg-gradient-to-r from-indigo-50 to-purple-50 shadow-xl rounded-2xl ml-3 h-full flex-grow overflow-y-scroll py-3 px-4">
        <nav class="shadow-xl bg-white p-3 rounded-2xl mb-6">
            hola mundo
        </nav>
        <router-outlet></router-outlet>
    </main>
</section>