<section class="bg-indigo-950 px-3 pt-1.5 pb-1.5 h-screen flex">
    <aside class="w-52 text-indigo-50">
        <a class="flex items-center py-3" [routerLink]="route.path" *ngFor="let route of routes">
            <i-tabler class="text-indigo-300" [name]="route.icon" />
            <span class="pl-1">{{ route.label }}</span>
        </a>
    </aside>

    <main
        class="bg-gradient-to-r from-indigo-50 to-purple-50 shadow-xl rounded-2xl ml-3 h-full flex-grow overflow-y-scroll py-3 px-4">
        <nav class="shadow-xl bg-white p-3 rounded-2xl mb-6">
            hola mundo
        </nav>
        <router-outlet></router-outlet>
    </main>
</section>