<section class="min-h-screen flex flex-col flex-grow justify-center items-center bg-gradient-to-br from-yellow-100 to-yellow-100/80">
    
    <form class="rounded-lg shadow bg-white shadow-yellow-200 p-3 form-control w-96 py-6">
        <div class="">
            <label class="label" for="">Usuario</label>
            <input type="text" class="control">
        </div>
        <div class="">
            <label class="label" for="">Usuario</label>
            <input type="password" class="control">
        </div>
        <div class="pt-6">
            <button class="bg-yellow-400 text-white font-bold uppercase">Entrar</button>
        </div>
    </form>

</section>
