<section class="container mx-auto overflow-x-scroll" *ngIf="items.length">
    <table class="w-full">
        <thead class="text-slate-600 font-semibold text-sm text-left">
            <th class="p-3">#</th>
            <th class="p-3">Producto</th>
            <th class="p-3">Modelo</th>
            <th class="p-3">Precio</th>
            <th class="p-3">Cantidad</th>
            <th class="p-3 text-right">Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index" [ngClass]="i % 2 === 0 ? 'bg-slate-100': ''">
                <td class="p-3">{{ i + 1  }}</td>
                <td class="p-3">{{ item.name }}</td>
                <td class="p-3">
                    <div>
                        <select name="modelId" #model class="px-3 py-2 rounded-lg w-40" (change)="onCartDetailChange(item.productId, model)">
                            <option value="">Selecciona</option>
                            <option [value]="model.id" *ngFor="let model of item.models">{{ model.color }}</option>
                        </select>
                    </div>
                </td>
                <td class="p-3">{{ item.price | currency }}</td>
                <td class="p-3">
                    <input-quantity [disabled]="!item.modelId" [max]="getMax(item)" (onChange)="onCartDetailChange(item.productId, { name: 'quantity', value: $event })" />
                    <div class="flex justify-center pt-2">
                        <button class="text-xs underline text-slate-600" (click)="requestDetele(item.productId)">Eliminar</button>
                    </div>
                </td>
                <td class="p-3 text-right"> {{ getTotal(item.productId) | currency }} </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="6" class="bg-slate-200 p-3">
                    <div class="flex justify-end">
                        <h2 class="text-lg font-semibold text-slate-600">{{getTotal() | currency}}</h2>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex justify-end mt-6">
        <button (click)="purchasing()" [disabled]="!isPurchasingInfoComplete" class="primary-btn bg-yellow-300 hover:bg-yellow-400 text-slate-700">Comprar</button>
    </div>
</section>

<section *ngIf="!items.length" class="container mx-auto mt-10">
    <p class="text-center text-slate-600 pt-6">Nada por aquí</p>
    <div class="flex justify-center mt-10">
        <button routerLink="/" class="primary-btn bg-yellow-300 text-slate-600 font-semibold">Ir a la tienda</button>
    </div>
</section>