<form (submit)="createProduct(product)" class="form-control flex flex-wrap" #product>
    <div class="w-full border-b border-indigo-200 pb-3 pl-3">
        <h2 class="text-lg font-semibold text-indigo-800">Detalles del producto</h2>
    </div>
    <div class="w-1/2 px-1">
        <label for="">Nombre</label>
        <input type="text" class="control">
    </div>
    <div class="w-1/2 px-1">
        <label for="">Precio</label>
        <input type="text" class="control">
    </div>
    <div class="w-full px-1">
        <label for="">Descripción</label>
        <textarea name="" class="control"></textarea>
    </div>
</form>

<form (submit)="onAddModel(model)" #model class="mt-6 form-control flex flex-wrap">
    <div class="w-full border-b border-indigo-200 pb-3 pl-3">
        <h2 class="text-lg">Modelos</h2>
    </div>
    <div class="w-1/3 px-1">
        <label for="">Color</label>
        <input type="text" class="control">
    </div>
    <div class="w-1/3 px-1">
        <label for="">Talla</label>
        <input type="text" class="control">
    </div>
    <div class="w-1/3 px-1">
        <label for="">Stock</label>
        <input type="text" class="control">
    </div>
</form>


<div class="flex justify-end mt-3">
    <button class="bg-yellow-400 text-indigo-900">Agregar</button>
</div>